# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual environments
.env
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Testing
.pytest_cache/
.mypy_cache/
.tox/
coverage.xml
.coverage*

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Caches
.cache/

# Jupyter
.ipynb_checkpoints/


